// start config variables


// start colors
$c1:#009788;
$c2:#009788;
$bg1:#eef3f9;
$brdr:#dbdddd;
$txt1:#404040;
$txt2:#5e5d5d;
$txt3:#c2bfbf;
$bgBotNav:#f6f7f9
// end colors

// end config variables
